.header {
    background-color: #0a6e31;
    color: white;
    padding: 20px;
    text-align: center;
}

.header-titre {
    margin: 0;
    font-size: 2rem;
}

.header-soustitre {

    margin: 5px 0 0 0;
    font-size: 1rem;
    opacity: 0.9;
}